[Unit]
Description=Timer for Laravel Telegram Backup
Documentation=file:/usr/share/doc/laravel-telegram-backup/README.md

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
